default_language_version:
    python: python3.12
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-symlinks
    -   id: check-toml
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.9
    hooks:
    -   id: ruff
        args:
        - --fix
    -   id: ruff-format
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
    -   id: mypy
        additional_dependencies:
        - django-stubs[compatible-mypy]>=5.2.0
        - types-redis
        - types-requests
        - django>=5.2.1
        - environs[django]>=14.2.0
        - psycopg[binary]>=3.2.9
        - django-countries>=7.6.1
        - django-localflavor>=5.0
        - django-rq>=3.0.0
        - redis>=5.0.0
        - httpx>=0.28.1
        - whitenoise>=6.7.0
        - django-model-utils>=5.0.0
        - neapolitan
        - django-tailwind-cli>=2.2.0
        - django-anymail[postmark]>=10.2
        - django-widget-tweaks>=1.5.0
        - uvicorn>=0.34.3
        - django-extensions>=4.1
        - sentry-sdk[django]>=2.29.1
        - django-stagedoor>0.1.0
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.19.1
    hooks:
    -   id: pyupgrade
        args:
        - --py312-plus
-   repo: https://github.com/adamchainz/django-upgrade
    rev: 1.24.0
    hooks:
    -   id: django-upgrade
        args:
        - --target-version
        - '5.0'
-   repo: https://github.com/rtts/djhtml
    rev: 3.0.7
    hooks:
    -   id: djhtml
        entry: djhtml --tabwidth 4
        alias: autoformat
-   repo: https://github.com/adamchainz/djade-pre-commit
    rev: "1.4.0"
    hooks:
    -   id: djade
        args: [--target-version, "5.2"]
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.19.1
    hooks:
    -   id: blacken-docs
        alias: autoformat
