{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{{ title }} | {{ site_title }}{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate "Home" %}</a>
        &rsaquo; {{ title }}
    </div>
{% endblock breadcrumbs %}

{% block content %}
    <h1>{{ title }}</h1>

    <p>Send a login invitation email to a new user. They will be able to create their account by clicking the link in the email.</p>

    {% if messages %}
        <ul class="messagelist">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <fieldset class="module aligned">
            {% for field in form %}
                <div class="form-row">
                    <div>
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <p class="help">{{ field.help_text }}</p>
                        {% endif %}
                        {% if field.errors %}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="{% translate 'Send Invitation' %}" class="default">
        </div>
    </form>
{% endblock content %}
